.row
  .span6.offset3
    %h2 Sign up
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = devise_error_messages!
      %div
        = f.label :name
        %br/
        = f.text_field :name, :autofocus => true
      %div
        = f.label :phone
        %br/
        = f.text_field :phone, :autofocus => true 
      %div
        = f.label :location
        %br/
        = f.text_field :location, :autofocus => true               
      %div
        = f.label :email
        %i (Note: You can only use a Jacobs email, like example@jacobs-university.de)
        %br/
        = f.email_field :email, :autofocus => true
      %div
        = f.label :password
        %br/
        = f.password_field :password
      %div
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation
      %div= f.submit "Sign up", class: "btn btn-large btn-primary"
    = render "devise/shared/links"
