-provide(:title,"Profile")
%h1= "#{@user.name}'s profile page"

.center.hero-unit
  %ul.nav.nav-tabs
    %li
      %a{"data-toggle" => "tab", :href => "#email"} Email
    %li
      %a{"data-toggle" => "tab", :href => "#phone"} Phone
    %li
      %a{"data-toggle" => "tab", :href => "#Location"} Location
 

  .tab-content
    #email.tab-pane.active
      %p 
        ="#{@start} email adress is #{@user.email}"
    #phone.tab-pane
      %p
        ="#{@start} phone number is #{@user.phone}" 
    #Location.tab-pane
      %p
        ="#{@start} location is #{@user.location}"   
%p
  %h4
    -if current_user? @user
      =link_to "Edit my profile",edit_user_registration_path(current_user)
      %br/
      =link_to "Post new item", new_item_path