%p#notice= notice

%p
  %b Name:
  = @item.name
%p
  %b Description:
  = @item.description
%p
  %b Price:
  = @item.price

-if current_user == @item.user 
  = link_to 'Edit ', edit_item_path(@item)
= link_to 'Back', items_path
