%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      = link_to "Jtrade", root_path, id: "logo"
      %nav
        %ul.nav.pull-right
          %li= link_to "Home", 		root_path
          %li= link_to "About", 	about_path
          %li= link_to "Contact", contact_path
          - if user_signed_in?
            %li= link_to "#{current_user.name}'s profile", current_user
            %li= link_to "Sign out", destroy_user_session_path, :method => :delete
          - else
            %li
              = link_to "Sign in", new_user_session_path